.button-container {
    background-color: transparent;
    height: 4rem;
    width: 12rem;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 1.6rem;
    font-weight: 500;
    border: 2px solid #fff;
    color: #fff;
    margin-left: 40px;
    transition: 0.5s;
    &:hover {
        background: #FFF;
        color: #162938;
        cursor: pointer;
    }
}
