.container {
  display: flex;
  flex-direction: column;
  flex: 1;

  .header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    padding-bottom: 10px;
    border-bottom: 2px solid #004C7F;

    ion-icon {
      font-size: 24px;
      color: #0D3073;
      margin-right: 10px;
      cursor: pointer;
    }

    .headerTitle {
      font-size: var(--text-font-header);
      font-weight: 900;
      color: #0D3073;
    }
  }

  .content {
    flex: 1;
    padding: 20px;
    .headerList {
      font-size: 18px;
      font-weight: 600;
      color: #0D3073;
      margin-bottom: 10px;
    }

    .submitButton {
      display: flex;
      width: 100%;
      margin-top: 20px;
      justify-content: flex-end;
    }
  }

  .testSubmission,
  .tutorInfo {
    background-color: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .tutorInfo {
    flex-direction: row;
    align-items: center;
    gap: 20px;

    .tutorAvatar {
      width: 200px;
      height: 200px;
      border-radius: 5px;
      object-fit: cover;
    }

    .tutorDetails {
      flex: 1;
    }

    h2 {
      font-size: 24px;
      font-weight: 700;
      color: #0d3073;
    }

    p {
      font-size: 16px;
      font-weight: 400;
      color: #333;
    }
  }

  .rating {
    margin-top: 20px;
    display: flex;
    gap: 16px;
    align-items: center;

    label {
      font-size: 16px;
      font-weight: 900;
      color: #0d3073;
    }
  }

  .supportButtons {
    display: flex;
    flex-direction: column;
    gap: 10px;

    textarea {
      width: 100%;
      padding: 10px;
      border: 1px dashed #0d3073;
      border-radius: 5px;
      font-size: 14px;
      line-height: 1.5;
      resize: vertical;
      transition: border-color 0.3s ease;

      &:focus {
        border-color: #0d3073;
        outline: none;
      }
    }
  }

  .editButton {
   width: fit-content;
   height: fit-content;
   margin-bottom: 10px
  }
  .item {
    display: flex;
    align-items: center;
    gap: 10px
  }
}
