@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar {
    display: none;
}
body {
    font-family: 'Nunito';
    font-size: 1.6rem;
    line-height: 1.5;
}
:root {
    /*============= Font =================*/
    --text-font-normal: 1.6rem;
    --text-font-header: 2.4rem;
    --text-font-title: 2rem;

    /*============= Color =================*/
    --color-header-container: #2E6FA8;
    --color-background-dashboard: #D9D9D9;
    --color-background-dashboard-items: #F6F8FD;
    --color-icon-dashboard-header: #2d73a2;
    --color-icon-dashboard-label: #70a5d43a;
    --color-icon-notification: #EB5757;

    --button-background-color-blue: #0F7CC6;
    --button-background-color-white: #DFEBF7;
    --text-color-white: #fff;
    /*============= Layout =================*/
    --margin-left-dashboard: 2rem;
    --margin-right-dashboard: 2rem;

}
a {
    text-decoration: none;
    color: inherit;
}