.change-password {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-bottom: 1.5em;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    justify-content: center;
    align-items: center;
 
  
    &__header{
      text-align: center;
      font-weight: 800;
      margin-bottom: 1em;
    }

    &__submit{
      width: fit-content;
      align-items: center;
      width: 100%;
      display: flex;
      justify-content: center;
      background-color: transparent;
      border: none;
    }
}
  