/* BoxContent styles */
.boxContent-container {
    display: flex;
    flex-direction: row;
    background-color: var(--bColor);
    width: 60%;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    margin-top: 60px;

    .boxContent-imgs {
        margin: 10px;

        .boxContent-img {
            width: 200px;
            height: auto;
        }
    }

    .boxContent-content {
        margin: 10px;

        .bcContent-title {
            font-size: 20px;
            color: #5E93BB;
            font-weight: bold;
        }

        .bcContent-content {
            margin-bottom: 40px;
            font-size: 16px;
            color: #444;
        }

        .boxContent-btn {
            background-color: #83BBE1;
            text-decoration: none;
            color: #fff;
            padding: 5px 20px;
            border-radius: 10px;
            display: inline-block;
            text-align: center;
            transition: background-color 0.3s ease;
            
            &:hover {
                background-color: #649bc1;
            }
        }
    }
}

/* CourseCard styles */
.card-container {
    padding: 10px;
    display: flex;
    height: 100%;
    background-color: #fff;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    align-items: center;
    margin-bottom: 20px;

    .card-imgs {
        height: 100%;
        margin-left: 10px;

        .card-img {
            height: 100%;
            width: auto;
            border-radius: 10px;
        }
    }

    .card-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 10px;

        .card-title {
            font-size: 20px;
            font-weight: 700;
            color: #333;
        }

        .card-content {
            font-size: 16px;
            color: #777;
            margin-top: 10px;
        }
    }
}

/* ExtendableCard styles */
.extendableCardContainer {
    padding: 10px;
    display: flex;
    height: 100%;
    background-color: #fff;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;

    &.extended {
        border: 2px solid #5E93BB;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: var(--text-font-title);
            font-weight: bold;

            .imgContainer {
                width: 70px;
                height: 70px;

                .img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
        }

        .extendIcon {
            font-size: 24px;
            font-weight: 900;
            transition: transform 0.3s ease;
            color: #5E93BB;

            &:hover {
                transform: rotate(180deg);
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        .contentTitle {
            font-weight: bold;
            font-size: var(--text-font-title);
            margin-bottom: 10px;
        }

        .text {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 15px;

            .lineContainer {
                display: flex;
                flex-direction: row;
                gap: 10px;

                .label {
                    font-weight: bold;
                    color: #333;
                }

                .value {
                    color: #777;
                }
            }
        }
    }
}

/* FullContentCard styles */
.fullContentCardContainer {
    padding: 10px;
    background-color: #fff;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-bottom: 20px;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
            display: flex;
            align-items: center;
            gap: 10px;
            .label {
                font-weight: bold;
            }
        }
    }
    .content {
        margin-top: 20px;

        .contentTitle {
            font-weight: bold;
            font-size: var(--text-font-title);
            margin-bottom: 10px;
        }

        .text {
            margin-top: 10px;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
}