body {
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;
    font-weight: 700;

    .sidebar {
        position: fixed;
        height: 100vh;
        top: 0;
        bottom: 0;
        left: 0;
        width: var(--sidebar-width);
        background: linear-gradient(183deg, #0770B5 24%, #83BBE0 91%);
        border-left: 10px solid var(--sidebar-border-left);
        color: var(--sidebar-text-color);
        transition: all 0.3s ease;
        overflow: hidden;

        .active {
            width: 80px;
        }

        .logo {
            display: flex;
            height: 70px;
            margin-left: 5px;
            img {
                width: 50px;
                height: 50px;
                margin-left: 10px;
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            gap: 0.5rem !important;

            li {
                list-style: none;
                width: 100%;
                position: relative;
                transition: background-color 0.3s ease, color 0.3s ease;

                &:nth-child(1) {
                    margin-bottom: 20px;
                    &:hover {
                        cursor: pointer;
                        background-color: transparent;
                    }
                }

                &:nth-child(9) {
                    margin-top: calc(100vh - 8*60px - 190px);
                }

                &:hover, &.selected {
                    background-color: #F6F8FD;
                    color: #0770B5;
                    
                    a {
                        color: #0770B5;
                    }
                }

                &.selected {
                    background-color: #F6F8FD;
                    color: #0770B5; 
                    a {
                        color: #0770B5;
                    }
                }

                a {
                    position: relative;
                    width: 100%;
                    display: flex;
                    text-decoration: none;
                    color: var(--sidebar-text-color);
                    padding: 0 15px;
                    height: 60px;
                    align-items: center; 

                    .icon {
                        display: flex;
                        justify-content: center; 
                        align-items: center; 
                        min-width: 60px;
                        height: 60px;

                        ion-icon {
                            font-size: 2.2rem;
                        }
                    }

                    .title {
                        display: flex;
                        align-items: center;
                        line-height: 60px;
                        height: 60px;
                        text-align: left;
                        white-space: nowrap;
                        transition: color 0.3s ease;
                    }
                }

            }
        }
    }
}
