* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --sidebar-width: 200px;
    --sidebar-bg: #F6F8FD;
    --sidebar-text-color: #ecf0f1;
    --sidebar-hover-bg: #34495e;
    --sidebar-hover-text-color: #004C7B;
    --sidebar-active-bg: #2980b9;
    --sidebar-active-text-color: #ecf0f1;
    --sidebar-border-left: linear-gradient(183deg, #0770B5 24%, #83BBE0 91%);
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;
    font-weight: 700;


    .sidebar {
        position: fixed;
        height: 100%;
        width: 250px;
        background: linear-gradient(183deg, #0770B5 24%, #83BBE0 91%);
        border-left: 10px solid var(--sidebar-border-left);
        color: var(--sidebar-text-color);
        transition: all 0.3s ease;
        overflow: hidden;

        .logo {
            display: flex;
            height: 70px;
            margin-left: 5px;

            img {
                width: 50px;
                height: 50px;
                margin-left: 10px;
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            position: absolute;
            width: 100%; 
            top: 0;
            left: 0;

           li {
                list-style: none;
                width: 100%;
                position: relative;
                border-top-left-radius: 30px;
                border-bottom-left-radius: 30px;

                &:nth-child(1) {
                    margin-bottom: 40px;
                    pointer-events: none;
                }

                &:nth-child(7) {
                    margin-bottom: 110px;
                }

                &:hover {
                    background-color: var(--sidebar-bg);
                    color: var(--sidebar-hover-text-color);

                    a {
                        color: var(--sidebar-hover-text-color);
                    }

                    a::before {
                        content: "";
                        position: absolute;
                        top: -50px;
                        right: 0;
                        width: 50px;
                        height: 50px;
                        background-color: transparent;
                        border-radius: 50%;
                        box-shadow: 35px 35px 0 10px var(--sidebar-bg);
                        pointer-events: none;
                    }

                    a::after {
                        content: "";
                        position: absolute;
                        bottom: -50px;
                        right: 0;
                        width: 50px;
                        height: 50px;
                        background-color: transparent;
                        border-radius: 50%;
                        box-shadow: 35px -35px 0 10px var(--sidebar-bg);
                        pointer-events: none;
                    }
                }

                &.hovered {
                    background-color: var(--sidebar-bg);
                    color: var(--sidebar-hover-text-color);

                    a {
                        color: var(--sidebar-hover-text-color);
                    }

                    a::before {
                        content: "";
                        position: absolute;
                        top: -50px;
                        right: 0;
                        width: 50px;
                        height: 50px;
                        background-color: transparent;
                        border-radius: 50%;
                        box-shadow: 35px 35px 0 10px var(--sidebar-bg);
                        pointer-events: none;
                    }

                    a::after {
                        content: "";
                        position: absolute;
                        bottom: -50px;
                        right: 0;
                        width: 50px;
                        height: 50px;
                        background-color: transparent;
                        border-radius: 50%;
                        box-shadow: 35px -35px 0 10px var(--sidebar-bg);
                        pointer-events: none;
                    }
                } 

                a {
                    position: relative;
                    // display: block;
                    width: 100%;
                    display: flex;
                    text-decoration: none;
                    color: white;

                    .icon {
                        position: relative;
                        display: block;
                        min-width: 60px;
                        height: 60px;
                        line-height: 70px;
                        text-align: center;

                        ion-icon {
                            font-size: 2.2rem;
                        }
                    }

                    .title {
                        position: relative;
                        display: block;
                        padding: 0 10px;
                        line-height: 60px;
                        height: 60px;
                        text-align: center;
                        white-space: nowrap;
                    }
                }
           }
        }
    }
}