.layout-container {
    display: flex;
    flex-direction: row;
    background-color: #F6F8FD;
}

.layout-content {
    flex: 4;
    display: flex;
    flex-direction: column;
    .content {
        padding: 20px;
    }
}

.sidebar {
    flex: .8;
}

.layout-header {
    height: 80px;
}
