.layout-container {
    display: flex;
    flex-direction: row;
    background-color: #F6F8FD;
<<<<<<< HEAD
=======
    flex: 1;
>>>>>>> d87c8dd8ecb8452ab3e9321b539e8e1348842bfe
    height: 100vh;
}

.layout-content {
    flex: 4;
    display: flex;
    flex-direction: column;
    .content {
        padding: 20px;
    }
}

.sidebar {
    flex: .8;
}

.layout-header {
    height: 80px;
}
