.password-input {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    
    &__label{
        margin-left: 1em;
    }

    &__wrapper{
        position: relative;
        display: flex;
        align-items: center;
    }

    &__input{
        width: 100%;
        padding: 1em 1.5em;
        outline: 1px solid #ccc;
        border-radius: 0.8em;
        margin-bottom: 1em;
        font-family: inherit;
        font-size: 1em;
        transition: all 0.2s ease;
        border: none;

        &::placeholder {
            color: #333;
            font-size: 1em;
            transition: opacity 0.5s ease-in-out;
        }
        
        &:hover {
            outline-color: #005690;
        }

        &:focus {
            outline: 2px solid #005690;
            box-shadow: 0 0 0 3px #0056901a;
        }
    }

    &__input--visible {
        font-size: 1em;
    }

    &__toggle-visibility{
        position: absolute;
        top: 50%;
        right: 1em;
        transform: translateY(-100%);
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #666;
        font-size: 1.2em;

        &:hover{
            color: #005690;
        }
    }

    &__icon {
        display: block;
        width: 20px;
        height: 20px; 
    }
}