
.dashboard-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 20px;
    border-radius: 20px;
    .dashboard-header {
        padding: 20px;
        min-height: 150px;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(../../../assets/images/dashboard-header.png);
        display: flex;
        flex-direction: column;
        .dashboard-header-title {
            color: #2E6FA8;
            font-size: 30px;
            font-weight: 1000;
        }
        .dashboard-header-content {
            color: #043A62;
            font-size: 20px;
            max-width: 700px;
        }
        .dashboard-header-img {
            width: 300px;
            position: absolute;
            top: -30px;
            right: 150px;
        }
    }

    .dashboard-content {
        margin-top: 20px;
        display: flex;
        flex: 1;
        .dashboard-content-left {
            flex: 2;
            display: flex;
            flex-direction: column;
            margin-right: 20px;
            .content-left__item {
                flex: 1;
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;
                .content-left__item__header {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 10px;
                    .content-left__header__title {
                        font-size: 24px;
                        color: #0565AD;
                        font-weight: bold;
                    }
                    .content-left__header__btn {
                        color:#fff;
                        padding: 8px 20px;
                        background-color: #0565AD;
                        border: none;
                        border-radius: 10px;
                        text-decoration: none;
                        font-size: 16px;
                        font-weight: bold;
                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
                .content-left__content_items {
                    display: flex;
                    flex-direction: row;
                    column-gap: 20px;
                    .content-left__content_item {
                        height: 100px;
                        flex: 1;
                        &:hover {
                            transform: scale(1.05);
                            cursor: pointer
                        }
                    }
                }
                
            }
        }
        .calendar {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
        }
    }
}

