.homepage-container {
    background-image: url(../../assets/images/hvHome.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
}

#TrangChu {
    padding-top: 200px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    .home-imgs{
        margin-left: 20px;

        .home-img {
            width: 500px;
            height: 100%;
        }
    }

    .home-content {
        margin: 20px;

        .home-title {
            font-size: 70px;
            color: #004B7D;
            text-align: center;
            font-weight: 800;
        }

        .home-slogan {
            font-size: 30px;
            color: #fff;
            font-weight: 700;
            text-align: center;
        }

        .home-content__content {
            background-color: #fff;
            opacity: 0.8;
            margin: 20px 80px;
            border-radius: 30px;
            padding: 20px;
            font-size: 22px;
            color: #004777;
            font-weight: 700;
            box-shadow: 0px 8px 20px  #0A66A4;
        }

        .home-content__btn-container {
            text-align: center;
            margin-top: 40px;
            .home-content__btn {
                display: inline-block;
                margin: 20px;
                text-decoration: none;
                padding: 20px;
                width: 100px;
                box-shadow: 0px 8px 18px #A1C5DF;
                font-size: 26px;
                border-radius: 20px;
                min-width: 150px;
            }
            .btn--disable {
                background-color: #D0E2EF;
                opacity: 0.5;
                color: #004C7B;
                font-weight: 900;
                &:hover {
                    cursor: default;
                }
            }
            .btn--active {
                background-color: #fff;
                color: #5E93BB;
                font-weight: 900;
                &:hover {
                    cursor: pointer;
                    opacity: 0.8;
                }
            }
        }
    }
}

#GioiThieu {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    .slide-container {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        margin-left: 20px;
        align-items: center;
        .slide-img {
            width: 600px;
        }
        .slide-content {
            width: 600px;
            padding: 20px
        }
        .slide-btn {
            text-decoration: none;
            color: #fff;
            background-color: #83BBE1;
            width: 65%;
            padding: 6px;
            border-radius: 30px;
            margin: 10px;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            &:hover {
                opacity: 0.8;
            }
        }
    }
    .introduce-img {
        width: 600px;
        margin-top: 200px;
        margin-left: 200px
    }
    
}

#LopHoc {
    padding-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .lh-item {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    
}

#DangKyLop {
    position: relative;
    padding-top: 200px;
    display: flex;
    flex-direction: row;
    margin-top: 300px;
    display: flex;
    justify-content: space-between;
    .dkl-imgs {
        .dkl-img1 {
            width: 650px;
            margin-left: 20px;
        }
        .dkl-img2 {
            width: 50px;
            position: absolute;
            top: 460px;
            right: 100px;
        }
        .dkl-img3 {
            width: 400px;
            position: absolute;
            top: 160px;
            right: 350px;
        }
    }
    .dkl-content-container {
        margin-right: 100px;
        text-align: right;
    }
}

#LuuY {
    padding-top: 50px;
    position: relative; 
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    .LY-imgs {
        #LY-img1 {
            width: 800px;
        }
        #LY-img2 {
            width: 150px;
            position: absolute;
            right: 100px;
            top: 200px;
        }
    }
    .LY-content-container {
        margin-top: -150px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .LY-content-title {
            margin-bottom: 50px;
        }
        .LY-content {
            width: 70%;
            display: flex;
            justify-content: space-around;
        }
    }
}

.homepage-container  img:hover {
    transform: scale(1.05);
}
img {
    transition:  0.5s ease, transform 0.5s ease;
}

.animate-left {
    opacity: 0;
    transform: translateX(-100px);
    transition: all 0.5s ease-in-out;
}

.animate-right {
    opacity: 0;
    transform: translateX(100px);
    transition: all 0.5s ease-in-out;
}

.animate-fade-in {
    opacity: 0;
    transition: opacity 0.6s ease-in, transform 0.6s ease-out;
  }
.animate-zoom-in {
    opacity: 0;
    transform: scale(0.8);
    transition: all 0.5s ease-out;
}


/* Khi được kích hoạt */
.animate-visible {
    opacity: 1;
    transform: translateX(0);
    transform: translateY(0);
    transform: scale(1);
    transform: rotate(0deg);
    filter: blur(0);

}